
:root{
  /* selection 1 */
  /* --primary_color: #411c06;
  --secondary_color: #82390c;
  --extra_color: #e46415; */
  /* selection 2 */
  --primary_color: #557A95;
  --secondary_color: #7395AE;
  --extra_color: #5D5C61;
  --highlight_color: #ff7f50;
  --background_color: #f5f5f5;
  /* --background_color: rgba(100, 100, 100, 0.1); */
  /* selection 3 */
  /* --primary_color: #1F2833;
  --secondary_color: #45A29E;
  --extra_color: ; */
  /* selection 4 */
  /* --primary_color: #2c3531;
  --secondary_color: #116466;
  --extra_color: #d1e8e2; */
  /* selection 5 */
  /* --primary_color: #e85a4f;
  --secondary_color: #e98074;
  --extra_color: #d8c3a5; */
  /* selection 5 ổn */ 
  /* --primary_color: #5680e9;
  --secondary_color: #5ab9ea;
  --extra_color: #84ceeb; */
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
  font-family: "Roboto Slab", serif;
}
a{
  display: block;
  text-decoration: none;
  color:black;
}
.hidden-book{
  opacity: 0.5;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
.actived {
  background-color: var(--secondary_color);
}
.pointer{
  cursor: pointer;
}
.display {
  display: flex !important;
}
/* Header begin */
#header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary_color);
  color: white;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
  
}
#header .brand-name {
  padding: 16px;
}
#header .nav {
  display: flex;
  align-items: center;
}
#header .control {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
#header .control-item {
  float: left;
  height: 100%;
}
#header .control::after {
  content: "";
  display: table;
  clear: both;
}
#header .control-item:hover,
#header .brand-name:hover {
  background-color: var(--secondary_color);
}
#header a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: white;
}
#header .search {
}
#search-product-name {
  border: none;
  line-height: 2;
  border-radius: 4px;
  outline: none;
  padding: 4px 16px;
}
#submit-button {
  background-color: white;
  color: black;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
#submit-button:hover {
  background-color: var(--secondary_color);
}
#header .cart {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#header .cart-icon {
  display: block;
  height: 100%;
  padding: 16px 24px;
  font-size: 24px;
}

#header .cart:hover {
  background-color: var(--secondary_color);
}
#header .quantity {
  font-size: 10px;
  line-height: 1.4;
  position: absolute;
  top: 10px;
  left: 16px;
  padding: 0 4px;
  border-radius: 50%;
  background-color: var(--extra_color);
}
/* Header end */

/* Slider section */
#slider .slider-item-img {
  width: 100%;
  height: auto;
  filter: grayscale(50%);
}



/* Footer section */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary_color);
}
#footer .about {
  color: white;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}
#footer .contact-icon {
  color: white;
  padding: 6px 4px 2px 4px;
  border-radius: 2px;
  background-color: dodgerblue;
  text-decoration: none;
}
#main {
  position: relative;
}

/* Modal begin */
@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: appearance 0.5s linear;
  margin: 0;
}
.modal-container {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
}
.modal-confirm {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.notice-title {
  padding: 16px;
}
.modal-yes,
.modal-cancel {
  display: block;
  text-decoration: none;
  background-color: var(--primary_color);
  color: white;
  padding: 16px 32px;
  border-radius: 8px;
}
.modal-yes:hover,
.modal-cancel:hover {
  background-color: var(--secondary_color);
}

/* Modal end */
